<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>critterJS</title>
  <link rel="stylesheet" href="../css/style.css">
  <script>
    var gamecode = "<%= gamecode %>";
    var username = "<%= username %>";
  </script>
  <script src="/socket.io/socket.io.js"></script>
</head>

<body>
  <div id="container">
    <div id="sidebar">
      <a href="#" onclick="ui.showMenu()">Menu</a>
      <div id="health"></div>
      <div id="stats"></div>
      <div id="traits"></div>
      <div id="vices"></div>
      <div id="output"></div>
    </div>
    <canvas id="canvasScreen" width="640" height="640"></canvas>
    <div id="menu">
      <button onclick="ui.command('feed')">Feed</button>
      <button onclick="ui.command('study')">Study</button>
      <button onclick="ui.command('play')">Play</button>
      <br>
      <button id="exit" onclick="ui.showMenu()">Exit</button>
    </div>
    <div id="deadMenu">
      <h1>Game Over</h1>
      <button onclick="ui.resetCritter()">Restart</button>
    </div>
  </div>
</body>
<script src="../js/cl_game.js"></script>
<script src="../js/cl_ui.js"></script>
<script src="../js/cl_socket.js"></script>


</html>