<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>critterJS</title>
  <style>
    body {
      text-align: center;
    }
  </style>
</head>

<body>
  Hello, <%- username %><br>
  <a href="/offline">Play Offline</a><br>
  <a href="/game/<%- username %>">Create New Room</a><br>
  <% if (JSON.stringify(games).length) { %>
  <h2>Rooms</h2>
  <ul>
    <% games.forEach(game => { %>
    <li>
      <a href="/game/<%= game.hostUser.username %>"><%= game.hostUser.username %></a>
    </li>
    <% }) %>
  </ul>
  <% } %>
</body>

</html>