<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>critterJS</title>
  <style>
    body {
      text-align: center;
    }
  </style>
</head>

<body>
  Hello, <%- name %><br>
  <a href="/offline">Play Offline</a><br>
  <a href="/game">Play Online</a><br>
</body>

</html>